.conteiner{
	padding: 100px;
	display: block;
}
.family{
	font-family: 'Comforter Brush', cursive;
}
.family p {
	display: flex;
	width: 350px;
	height: 200px;
}
	p {
		font-family: 'embedded-opentype';
	}

.photos{
	display: inline-block;
	width: 205px;
	height: 200pc;
	padding-left: 400px;
	border: 15px;
	border-color: blue;
	border-radius: 15px;
	border-right: blue;
}
.conteiner2 {
  padding: 30px;
  display: block;
}
.text {
  font-family: "Comforter Brush", cursive;
  margin-left: 1200px;
}
.satauri {
  margin-left: 1200px;
}
.building {
  background-color: blue;
  border-radius: 15px;
  margin-left: 250px;
  width: 505px;
  height: 505px;
}
