.conteiner2 {
  padding: 30px;
  display: block;
}
.text {
  font-family: "Comforter Brush", cursive;
  margin-left: 1200px;
}
.satauri {
  margin-left: 1200px;
}
.building {
  background-color: blue;
  border-radius: 15px;
  margin-left: 250px;
  width: 505px;
  height: 505px;
}
